.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-container {
  max-width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.user-table th, .user-table td {
  padding: 12px 20px;
  border: 1px solid lightpink;
  text-align: left;
}

/* Alternating row colors */
.user-table tbody tr.odd {
  background-color: lightblue;
}

.user-table tbody tr.even {
  background-color: #3a91ab;
}

.user-table th {
  background-color: lightslategray;
  color: white;
}

/* Button styles */
.edit-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: lightgreen;
  color: black;
  margin-right: 5px;
}

.delete-btn {
  background-color: lightslategray;
  color: black;
}

.edit-btn:hover, .delete-btn:hover {
  opacity: 0.8;
}

.search-input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
